body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

form {
    width: 400px;
    margin: 50px auto;
    padding: 25px;
    background: white;
}

h1 {
    text-align: center;
}

label {
    display: block;
    margin-top: 15px;
}

input,
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
}



@media (max-width: 500px) {
    form {
        width: 90%;
    }
}